<label for="{{ form.estimated_days.id_for_label }}" class="stepper-label">Days</label>
<div class="stepper">
    <button type="button" class="stepper-btn stepper-decrement" aria-label="Decrease estimated days" title="Decrease">
        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="currentColor">
            <path d="M200-440v-80h560v80H200Z"/>
        </svg>
    </button>
    {{ form.estimated_days }}
    <button type="button" class="stepper-btn stepper-increment" aria-label="Increase estimated days" title="Increase">
        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="currentColor">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        </svg>
    </button>
</div>
