{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<dialog id="_add_dialog">
    <h1>Add New Project</h1>
    <form class="create" action="{% url 'boards:create_board' %}" method="post">
        {% csrf_token %}
        <div class="input-row">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="input-row">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <button class="green" type="submit">Create Project</button>
        <button class="cancel" id="_dialog_close" type="button">Cancel</button>
    </form>
</dialog>
<div class="limit-width">
<button class="green" style="float: right;" id="_add_board">Add New Project</button>
<h1>Your Projects</h1>
    {% if boards %}
    <div class="boards">
        {% for board in boards %}
        <a class="board" href="{% url 'boards:board_detail' board.id %}">
            <div class="title-bar">
                <h2>{{ board.title }}</h2>
            </div>
            {% if board.total > 0 %}
                <div class="progress-bar">
                    {% if board.todo > 0 %}
                        {{ board.todostyle|safe }}
                    {% endif %}
                    {% if board.wip > 0 %}
                        {{ board.wipstyle|safe }}
                    {% endif %}
                    {% if board.done > 0 %}
                        {{ board.donestyle|safe }}
                    {% endif %}
                </div>
            {% endif %}
            <p class="desc">
                {{ board.description }}
            </p>
            <div class="task-progress">
                <div class="item todo">
                    <div class="title">TODO</div>
                    <div class="count">{{ board.todo }}</div>
                </div>
                <div class="item wip">
                    <div class="title">WIP</div>
                    <div class="count">{{ board.wip }}</div>
                </div>
                <div class="item done">
                    <div class="title">DONE</div>
                    <div class="count">{{ board.done }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <div class="no-boards-notice">
            <h2>You've got no projects!</h2>
            <p>Add a new project using the button below to get started!</p>
            <button class="green" id="_add_board_secondary">Add Project</button>
        </div>
    {% endif %}
    </div>
</div>
<script>
    let dialog = document.getElementById('_add_dialog');
    document.getElementById('_add_board').addEventListener('click', function() {
        dialog.showModal();
    });
    let secondary = document.getElementById('_add_board_secondary');
    if (secondary !== null) {secondary.addEventListener('click', function() {
        dialog.showModal();
    })}
    document.getElementById('_dialog_close').addEventListener('click', function() {
        dialog.close();
    })
</script>
{% endblock %}