# Virtual environments
/venv

# Python
__pycache__/
/boards/__pycache_
*.py[cod]
*$py.class

# Distro
build/
dist/
*.egg-info/

# Logs
*.log

# Django
db.sqlite3
staticfiles/
media/

# JetBrains
.idea/
*.iml

# Database
db.sqlite3

# Environment variables
*.env