{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Login | SprintList</title>
</head>
<body class="login">
    <div class="limit-width login">
        <div class="login-wrap">
            <img src="{% static 'img/logo.svg' %}" alt="SprintList" class="login-logo">
            {% if form.errors %}
            <div class="error-notice">Sorry we couldn't log you in!</div>
            {% endif %}
            <form class="login" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="input-row">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                </div>
                <div class="input-row">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password }}
                </div>
                <button class="green" type="submit">Log in</button>
            </form>
            {% comment %}
            <p class="about-register">Need an account?<br><a href="{% url 'register' %}">Register Here!</a></p>
            {% endcomment %}
        </div>
        <div class="about-login">
            Created by <a href="https://www.birchdigital.uk/" target="_blank">Birch Digital</a>
        </div>
    </div>
</body>
</html>
